.saludo {

    font-size: 30px;
    padding-top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    color: blanchedalmond;
    margin-top: 100px;
}

.item-list-container {

        margin-top: 20px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 250px 250px;
    
}

.ui.items:first-child {
    margin-top: 20px;
}
