.container-items {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

#imagen {
    width:200px;
    margin-left: 100px;
}

.botonAgregar{

    text-align: center;
}

